*.pyc
data_files/debug_logs/*.log
data_files/debug_logs/lp_files/*
data_files/untracked_data/*
.DS_Store
*.ipynb_checkpoints

# ignore the .idea folder from pycharm -- a pycharm specific config folder
.idea/*

# ignore goings-on in the venv
/venv/*

# ignore (for now) associated jupyter notebooks
notebooks/
/temoa/temoa_model/config_sample_9R
